<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,200&display=swap" rel="stylesheet">

<html lang="en" style="text-align: center">
  <h1 style= "font-size: 100; text-align: center;">Pindala leidmine</h1>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,200&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} Chomp </title>
    <b style= "font-size: 1em; text-align: center; font-family: Monsterrat, sans-serif;">WARNING! DO NOT USE THIS APP</b>
    <div></div>
  </head>
  <body bgcolor="#FFFDD0" style="text-align: center;">
    <br>
    
    <canvas id="paint" width="1000" height="1000" style="border: 5px solid #000000;" text-align="center
    ">Update your browser to support HTML5 Canvas</canvas>
    <br>
    <button id="penciltool" type="button" style="height: 25px; width: 100px;" onclick="pencil()">Pencil</button>
    <button id="rectangletool" type="button" style="height: 25px; width: 100px;" onclick="rectangle()">Rectangle</button> 
    <button id="circletool" type="button" style="height: 25px; width: 100px;" onclick="circle()">Circle</button> 
    <button id="erasertool" type="button" style="height: 25px; width: 100px;" onclick="eraser()">Eraser</button> 
    <button id="resettool" type="button" style="height: 25px; width: 100px;" onclick="reset()">Reset</button>

    <nav>
        <a href="{% url 'home' %}" style="text-align: center; font-family: Monsterrat, sans-serif;">Home</a>
        <br>
        <a href="{% url 'mushamusha' %}" style="text-align: center; font-family: Monsterrat, sans-serif;">CEO-de elu on magus</a>
    </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>

