<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,200&display=swap" rel="stylesheet">

<html lang="en" style="text-align: center">
  <h1 style= "font-size: 100; text-align: center;">Pindala leidmine</h1>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,200&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} Chomp </title>
    <b style= "font-size: 1em; text-align: center; font-family: Monsterrat, sans-serif;">WARNING! DO NOT USE THIS APP</b>
    <div></div>
  </head>
  <body bgcolor="#FFFDD0" style="text-align: center;">
    <br>
    <canvas id="drawingCanvas" width="500" height="500" style="border: 1px solid black;"></canvas>
    <nav>
        <a href="{% url 'home' %}" style="text-align: center; font-family: Monsterrat, sans-serif;">Reset</a>
        <br>
        <a href="{% url 'mushamusha' %}" style="text-align: center; font-family: Monsterrat, sans-serif;">CEO-de elu on magus</a>
    </nav>
    {% block content %}
    {% endblock %}

    <button id="toggleButton" onclick="toggleMode()">Switch to Paint</button>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      
        var drawing = false;
        var points = [];
        var canvas = document.getElementById("drawingCanvas");
        var context = canvas.getContext("2d");


        function toggleMode() {
            var toggleButton = document.getElementById("toggleButton");
            if (toggleButton.innerText === "Switch to Paint") {
                toggleButton.innerText = "Switch to Draw";
                currentMode = "paint"; // Switch to paint mode
            } else {
                toggleButton.innerText = "Switch to Paint";
                currentMode = "draw"; // Switch to draw mode
            }
        }

        
        canvas.addEventListener("mousedown", function(event) {
            drawing = true;
            var x = event.clientX - canvas.offsetLeft;
            var y = event.clientY - canvas.offsetTop;
            points.push({ x: x, y: y });
            redraw();
        });

        canvas.addEventListener("mousemove", function(event) {
            if (drawing) {
                var x = event.clientX - canvas.offsetLeft;
                var y = event.clientY - canvas.offsetTop;
                points.push({ x: x, y: y });
                redraw();
            }
        });

        canvas.addEventListener("mouseup", function(event) {
            drawing = false;
        });

        function redraw() {
            context.clearRect(0, 0, canvas.width, canvas.height);
            context.beginPath();

            for (var i = 0; i < points.length; i++) {
                var point = points[i];
                if (i === 0) {
                    context.moveTo(point.x, point.y);
                } else {
                    context.lineTo(point.x, point.y);
                }
            }

            context.stroke();
            updatePointsInput();
        }

        function updatePointsInput() {
            var pointsInput = document.getElementById("pointsInput");
            pointsInput.value = JSON.stringify(points);
        }

        function fillArea(x, y, fillColor) {
            var imageData = context.getImageData(0, 0, canvas.width, canvas.height);
            var pixels = imageData.data;
            var targetColor = getPixelColor(x, y, pixels);
            var visitedPixels = {};

            if (targetColor !== fillColor) {
                floodFill(x, y, targetColor, fillColor);
                context.putImageData(imageData, 0, 0);
            }

            function getPixelColor(x, y, pixels) {
                var index = (y * canvas.width + x) * 4;
                var r = pixels[index];
                var g = pixels[index + 1];
                var b = pixels[index + 2];
                var a = pixels[index + 3];
                return "rgba(" + r + "," + g + "," + b + "," + a + ")";
            }

            function setPixelColor(x, y, fillColor, pixels) {
                var index = (y * canvas.width + x) * 4;
                var colorComponents = fillColor.substring(5, fillColor.length - 1).split(",");
                pixels[index] = parseInt(colorComponents[0]);
                pixels[index + 1] = parseInt(colorComponents[1]);
                pixels[index + 2] = parseInt(colorComponents[2]);
                pixels[index + 3] = parseInt(colorComponents[3]);
            }

            function floodFill(x, y, targetColor, fillColor) {
                var stack = [];
                stack.push({ x: x, y: y });

                while (stack.length > 0) {
                    var pixel = stack.pop();
                    x = pixel.x;
                    y = pixel.y;

                    if (x < 0 || x >= canvas.width || y < 0 || y >= canvas.height) {
                        continue;
                    }

                    var currentColor = getPixelColor(x, y, pixels);

                    if (currentColor !== targetColor || visitedPixels[x + "," + y]) {
                        continue;
                    }

                    setPixelColor(x, y, fillColor, pixels);
                    visitedPixels[x + "," + y] = true;

                    stack.push({ x: x + 1, y: y });
                    stack.push({ x: x - 1, y: y });
                    stack.push({ x: x, y: y + 1 });
                    stack.push({ x: x, y: y - 1 });
                }
            }
        }

        $(document).ready(function() {
            $("#drawForm").submit(function(event) {
                event.preventDefault();

                var form = $(this);
                var url = form.attr("action");
                var data = form.serialize();

                $.post(url, data, function(response) {
                    alert("Shape saved successfully.");
                });
            });

            $("#calculateButton").click(function() {
                var shapeId = "SHAPE_ID_PLACEHOLDER";
                var url = "CALCULATE_AREA_URL_PLACEHOLDER";
                var data = { shape_id: shapeId };

                $.post(url, data, function(response) {
                    var resultArea = $("#resultArea");
                    resultArea.text("Area: " + response.area + " square units");
                });
            });

            $("#paintBucketButton").click(function() {
                var x = parseInt($("#paintX").val());
                var y = parseInt($("#paintY").val());
                fillArea(x, y, "rgba(0, 0, 0, 1)");
            });
        });
    </script>
</body>
</html>

