<h1>
    <h1 style= "font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: #ffff; font-size: 150; text-align: center;">Tutvustus</h1>
</h1>

<nav>
    <a href="{% url 'home' %}">Home</a>
</nav>

<body bgcolor= "#0000" style= "font-family:'Times New Roman', Times, serif; font-size: 40; color: #ff2d00;">
        See on meie tiimi tutvustus!


    <small style= "font-family:Georgia, 'Times New Roman', Times, serif; color: #ffff; font-size: 25;">
        <br>1. Gustav Paul Tammkivi!
    </small>

</body>